doctype html
html
    header
        title peepeepoopoo
        link(rel='stylesheet' href='./public/css/style.css')
        <script src='https://unpkg.com/browse/d3@5.7.0/dist/d3.min.js'></script>
    
    body.body
        h1  Mark's gay with SVG and CSS

        //- svg(width='960' height='500')
        //-     circle
        //-         r='100'
        <svg width='960' height='1000'></svg>
        <script>
            const svg = d3.select('svg');
            svg.style('background-color', 'red');
            
        </script>

        